<div id="executed_composite">
  <img id="exectuted_image" src="<%= url('/grave.png') %>" title="They say that thereafter a ghost could be heard wailing '<%= word %>!' over and over into the uncaring night." />
  <div id="executed_text">
    <p title="They say that thereafter a ghost could be heard wailing '<%= word %>!' over and over into the uncaring night."> Here rests<br><br><%= name %><br>"The <%= nickname %>"<br><br>Who loved the spirit of the law, if not the letters.</p>
</div>
<div id="executed_main">
  <form method="POST">
    <input type="submit" value="Prepare a new prisoner for the gallows!" />
  </form>
  <form action="about.erb">
    <input type="submit" value="Meet your executioner" />
  </form>
</div>
