<div id="pardoned_picture">
  <img src="<%= url('/skiing.png') %>" title="" />
</div>
<div id="pardoned_main">
  <p>
    <%= name %>, it is my great joy as the Deputy Director of Frivolous Forgivenesses to pardon you for all of your heinous crimes. You have redeemed yourself by uncovering the hidden word "<%= word.downcase.capitalize %>". Our report indicates that you filed <%= guess_counter %> last minute appeals and that <%= missed_appeals %> were denied. Excellent work!<br>Go now, "<%= nickname %>", and live an honest and mundane life as a free citizen!<br>
    (Please stop by the gift shop on your way out.)</p>
  <form method="POST">
    <input type="submit" value="Prepare a new prisoner for the gallows!" />
  </form>
  <form action="about.erb">
    <input type="submit" value="Meet your executioner" />
  </form>
</div>
